target/classes/flights-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

    <apikit:config name="simple-API-config" raml="pa-api.raml" consoleEnabled="true" doc:name="Router" keepRamlBaseUri="false">
        <apikit:flow-mapping resource="/flights/delta" action="get" flow-ref="get:/flights/delta"/>
        <apikit:flow-mapping resource="/flights/united" action="get" flow-ref="get:/flights/united"/>
        <apikit:flow-mapping resource="/flights/delta-united" action="get" flow-ref="get:/flights/delta-united"/>
        <apikit:flow-mapping resource="/flights/delta-destintation-code" action="get" flow-ref="get:/flights/delta-destintation-code"/>
    </apikit:config>
    <flow name="simple-API-main">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/process/*" doc:name="HTTP" allowedMethods="GET"/>
        <apikit:router config-ref="simple-API-config" doc:name="APIkit Router"/>
        <exception-strategy ref="simple-API-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>

    <flow name="get:/flights/delta-destintation-code">
        <logger level="INFO" doc:name="Logger"/>
        <set-session-variable variableName="destination" value="#[message.inboundProperties.'http.query.params'.destination]" doc:name="Session Variable"/>
        <http:request config-ref="HTTP_Request_Configuration" path="system/flights/destination-code" method="GET" doc:name="HTTP delta-united">
            <http:request-builder>
                <http:query-param paramName="destination" value="#[message.inboundProperties.'http.query.params'.destination]"/>
            </http:request-builder>
        </http:request>
        <logger level="INFO" doc:name="Logger" message="FLOWNAME: #[flow.name]  FECHA &amp; HORA   #[server.dateTime.format('yyyy-MM-dd HH:mm:ss')]  "/>

    </flow>
    <flow name="get:/flights/delta">
        <http:request config-ref="HTTP_Request_Configuration" path="system/flights/delta" method="GET" doc:name="HTTP Flights Delta"/>
        <logger message="FLOWNAME: #[flow.name]  FECHA &amp; HORA   #[server.dateTime.format('yyyy-MM-dd HH:mm:ss')]  " level="INFO" doc:name="Logger"/>
    </flow>

    <apikit:mapping-exception-strategy name="simple-API-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Recurso no econtrado&quot;
 }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
